<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>My Profile</title>
</head>

<body>
    <div id="cvTemplate">
        <header>
            User Profile Page
        </header>
        <div class="body">
            <aside>
                <article class="content-info">
                    <div class="content-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsXDkKrH47IRxpOTnlPzY7XkJX_COGu7COSQ&usqp=CAU"
                            alt="">
                        <button class="btn btn--green bold"><i
                                class="material-icons md-16">check_circle</i>&nbsp;Friends</button>
                        <button class="btn btn--green bold"><i class="material-icons md-16">email</i>&nbsp;Send
                            Message</button>
                    </div>
                    <div class="content-personal-info">
                        <p class="name bold">Mariah Caraiban</p>
                        <p class="title">Owner at Our Company, Inc</p>
                        <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ipsum suscipit!
                            Hic ab magnam voluptatibus. Eum ad doloribus totam quas quam, maiores temporibus consectetur
                            minima dignissimos accusantium voluptate quos repudiandae.</p>
                        <table>
                            <tr class="background--blue">
                                <th>Status</th>
                                <td><span class="badge badge--green">Active</span></td>
                            </tr>
                            <tr>
                                <th>User Rating</th>
                                <td>
                                    <i class="material-icons md-24 color--gold">star_rate</i>
                                    <i class="material-icons md-24 color--gold">star_rate</i>
                                    <i class="material-icons md-24 color--gold">star_rate</i>
                                    <i class="material-icons md-24 color--gold">star_rate</i>
                                    <i class="material-icons md-24 color--gold">star_rate</i>
                                </td>
                            </tr>
                            <tr class="background--blue">
                                <th>Member Since</th>
                                <td>Jan 07, 2014</td>
                            </tr>
                        </table>
                    </div>
                </article>
                <article class="content-friends">
                    <div class="title">
                        <i class="material-icons md-48">groups</i>
                        <h3>Friends</h3>
                    </div>
                    <div class="content-badges">
                        <div class="friend-badge">
                            <img src="https://www.phdmedia.com/honduras/wp-content/uploads/sites/93/2015/05/temp-people-profile.jpg"
                                alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.leisureopportunities.co.uk/images/300126_701411.jpg" alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.acs.org/content/acs/en/funding-and-awards/scholarships/acsscholars/scholars-profiles/11554999.img.png"
                                alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.phdmedia.com/honduras/wp-content/uploads/sites/93/2015/05/temp-people-profile.jpg"
                                alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.leisureopportunities.co.uk/images/300126_701411.jpg" alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.acs.org/content/acs/en/funding-and-awards/scholarships/acsscholars/scholars-profiles/11554999.img.png"
                                alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.phdmedia.com/honduras/wp-content/uploads/sites/93/2015/05/temp-people-profile.jpg"
                                alt="">
                        </div>
                        <div class="friend-badge">
                            <img src="https://www.leisureopportunities.co.uk/images/300126_701411.jpg" alt="">
                        </div>
                    </div>
                    <button class="btn btn--green">See all friends &#187;</button>
                </article>
            </aside>
            <div class="content-description">
                <nav>
                    <ul>
                        <li class="nav-item active">Profile</li>
                        <li class="nav-item">Projects</li>
                        <li class="nav-item">Photos</li>
                        <li class="nav-item">Friends</li>
                        <li class="nav-item">Groups</li>
                    </ul>
                </nav>
                <section class="info">
                    <article class="about">
                        <table>
                            <tbody>
                                <tr>
                                    <th colspan="4">
                                        <div class="title">
                                            <i class="material-icons md-48">person</i>
                                            <h3>ABOUT</h3>
                                            <button class="btn btn--green left-up">
                                                <i class="material-icons md-dark md-inactive md-18">edit</i>
                                                Edit
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="bold">First name:</td>
                                    <td>Mariah</td>
                                    <td class="bold">Last Name:</td>
                                    <td>Caraiban</td>
                                </tr>
                                <tr>
                                    <td class="bold">User name:</td>
                                    <td>Mariah</td>
                                    <td class="bold">Email:</td>
                                    <td>mariah@Vendroid.com</td>
                                </tr>
                                <tr>
                                    <td class="bold">City:</td>
                                    <td>Los Angeles</td>
                                    <td class="bold">Country:</td>
                                    <td>United States</td>
                                </tr>
                                <tr>
                                    <td class="bold">Birthday:</td>
                                    <td>Jan 22, 1984</td>
                                    <td class="bold">Interests:</td>
                                    <td>Basketball, Wb, Design, etc.</td>
                                </tr>
                                <tr>
                                    <td class="bold">Website:</td>
                                    <td>Vendroid.venmond.com</td>
                                    <td class="bold">Phone:</td>
                                    <td>+1-234-5678</td>
                                </tr>
                            </tbody>
                        </table>
                    </article>
                    <hr>
                    <div class="columns-2">
                        <article>
                            <div class="title">
                                <i class="material-icons md-48">insert_drive_file</i>
                                <h3>EXPERIENCE</h3>
                            </div>
                            <div class="circle-list">
                                <ul>
                                    <li>
                                        Owner at Vendroid Ltd. <br>
                                        <cite>March 2013 ~ Now</cite>
                                    </li>
                                    <li>
                                        CEO at Mc. Dondon <br>
                                        <cite>March 2011 ~ February 2013</cite>
                                    </li>
                                    <li>
                                        Web Designer at Web Design Company Ltd. <br>
                                        <cite>March 2010 ~ February 2011</cite>
                                    </li>
                                    <li>Sales at Sales Company Ltd. <br>
                                        <cite>March 2019 ~ February 2010</cite>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article>
                            <div class="title">
                                <i class="material-icons md-48">emoji_events</i>
                                <h3>EDUCATION</h3>
                            </div>
                            <div class="circle-list">
                                <ul>
                                    <li>
                                        Bachelor's degree, E-Commerce/Electronic Commerce at UCLA <br>
                                        <cite>August 2003 ~ July 2008</cite>
                                    </li>
                                    <li>
                                        Student at Web Design Education <br>
                                        <cite>March 2006 ~ February 2007</cite>
                                    </li>
                                    <li>
                                        Student at St. Louis High School <br>
                                        <cite>August 2000 ~ July 2003</cite>
                                    </li>
                                    <li>Student at St. Monica Junios High School <br>
                                        <cite>August 1998 ~ July 2000</cite>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <hr>
                    <div class="columns-2">
                        <article>
                            <div class="title">
                                <i class="material-icons md-48">public</i>
                                <h3>ACTIVITY</h3>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <i class="material-icons md-28">person</i>
                                </div>
                                <div class="content-desc">
                                    Change your profile details <br>
                                    <cite>~ 1 Hour 20 Minute Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <i class="material-icons md-28">miscellaneous_services</i>
                                </div>
                                <div class="content-desc">
                                    Your setting is updated <br>
                                    <cite>~ 12 Days Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <i class="material-icons md-28">library_books</i>
                                </div>
                                <div class="content-desc">
                                    Added new article <br>
                                    <cite>~ 19 Days Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsXDkKrH47IRxpOTnlPzY7XkJX_COGu7COSQ&usqp=CAU"
                                        alt="profile-picture">
                                </div>
                                <div class="content-desc">
                                    Change Profile Pic <br>
                                    <cite>~ 20 Days Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <i class="material-icons md-28">miscellaneous_services</i>
                                </div>
                                <div class="content-desc">
                                    Your setting is updated <br>
                                    <cite>~ 12 Days Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <i class="material-icons md-28">library_books</i>
                                </div>
                                <div class="content-desc">
                                    Added new article <br>
                                    <cite>~ 19 Days Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <div class="content-img">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsXDkKrH47IRxpOTnlPzY7XkJX_COGu7COSQ&usqp=CAU"
                                        alt="profile-picture">
                                </div>
                                <div class="content-desc">
                                    Change Profile Pic <br>
                                    <cite>~ 20 Days Ago</cite>
                                </div>
                            </div>
                            <div class="content-img-desc">
                                <button class="btn btn--green">See All Activities &#187;</button>
                            </div>
                        </article>
                        <article>
                            <div class="title">
                                <i class="material-icons md-48">science</i>
                                <h3>SKILLS</h3>
                            </div>
                            <div class="content-progress-bar">
                                Photoshop
                                <div class="bar">
                                    <div class="progress--green" style="width: 90%;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="content-progress-bar">
                                Illustrator
                                <div class="bar">
                                    <div class="progress--cadet-blue" style="width: 25%;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="content-progress-bar">
                                PHP
                                <div class="bar">
                                    <div class="progress--yellow" style="width: 50%;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="content-progress-bar">
                                Javascript
                                <div class="bar">
                                    <div class="progress--red" style="width: 60%;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="content-progress-bar">
                                Communication
                                <div class="bar">
                                    <div class="progress--green" style="width: 90%;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="content-progress-bar">
                                Writing
                                <div class="bar">
                                    <div class="progress--yellow" style="width: 35%;">&nbsp;</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>